#name {
	-fx-fill: #FFFFFF;
	-fx-alignment: center;
	-fx-font: 56 Montserrat;
}

#add, #edit, #logout, #search{
	-fx-text-fill: #FFFFFF;
	-fx-font: 24 helvetica;
	-fx-background-radius: 60;
	-fx-background-color: transparent;
}

#add:hover, #edit:hover, #logout:hover, #search:hover{
	-fx-text-fill: #66c2ff;
}

#add{
	-fx-font: 48 helvetica;
}

AnchorPane{
	-fx-background-color: #2980b9;
}

#albums{
	-fx-background-color: #f2f2f2;
}

ImageView{
	-fx-alignment: center;
}