#loginPage{
	-fx-background-image: url("assets/test.gif");
	-fx-background-repeat: stretch;   
    -fx-background-size: 800 600;
    -fx-background-position: center center;
}

Text{
	-fx-fill: WHITE;
	-fx-alignment: center;
	-fx-font: 64 helvetica;
}

Button{
	-fx-background-color: #008ED6;
	-fx-text-fill: WHITE;
	-fx-alignment: center;
	-fx-font: 16 helvetica;
	-fx-font-weight: bold;
}

#password{
	-fx-border-style: round;
}